body {
  font-family: Arial, sans-serif;
  justify-content: center;
}

#addEventForm {
  display: flex;
  flex-direction: column;
  width: 30%;
}

label {
  margin-bottom: 5px;
}

/* Style for the column div */
.column {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* Style for the row div */
.row {
  display: flex; /* Add display flex to make items in row */
  padding: 10px;
  margin-bottom: 5px;
  justify-content: center;
}

/* Style for the items in each row */
.row-item {
  flex-grow: 1; /* Expand to fill available space equally */
  flex-basis: 0; /* Reset the initial width */
  max-width: 33%; /* Limit maximum width of each item */
  text-align: center; /* Center text */
  margin: 0 5px; /* Add some margin for spacing */
}

.balance {
  color: white;
  border-radius: 6px;
}

.button {
  background-color: #019906; /* Green */
  border: none;
  border-radius: 12px;
  /* box-shadow: 0 9px #999; */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  /* box-shadow: 0 5px #666; */
  /* transform: translateY(4px); */
}

.success {
  background-color: #019906;
}

.success:hover {
  background-color: #3e8e41;
}

.success:active {
  background-color: #3e8e41;
}

.danger {
  background-color: #f44336;
}

.danger:hover {
  background-color: #f44336;
}

.danger:active {
  background-color: #f44336;
}

.info {
  background-color: #2196f3;
}

.info:hover {
  background-color: #2196f3;
}

.info:active {
  background-color: #2196f3;
}

.navbar {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 2%;
}

.ucount-logo img {
  max-width: 70px; /* Ajusta el tamaño del logo según lo necesites */
  padding: 10px;
}

.navbar-links {
  display: flex; /* Mostrar los enlaces de navegación */
  flex-direction: row; /* Orientación horizontal */
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  padding-right: 2%;
  max-height: 50px; /* Altura máxima cuando está oculto */
}

.navbar-links.active {
  max-height: 200px; /* Altura máxima cuando está desplegado */
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  color: white;
}

.navbar-links a:hover {
  color: black;
}

.menu-toggle {
  display: none; /* Ocultar el botón de menú inicialmente */
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .navbar-links {
    flex-direction: column; /* Orientación vertical en pantallas pequeñas */
    position: static; /* Posición estática para que los enlaces no se superpongan con otros elementos */
    background-color:white;
    width: 100%;
    max-height: none; /* Altura inicial cuando está oculto */
    align-items: center;
  }

  .navbar-links a {
    padding: 10px;
    color: #fff; /* Cambiar el color del texto a blanco para que sea visible en el fondo oscuro */
    border-bottom: 1px solid #fff; /* Añadir una línea de separación entre los enlaces */
    text-align: center; /* Centrar el texto de los enlaces */
  }

  .ucount-logo img {
    display: none; /* Ocultar el logo en pantallas pequeñas */
  }

  .navbar-links a:last-child {
    border-bottom: none;
  }
}

#eventPage {
  display: flex;
  flex-direction: row;
}

#FormularioExpenses {
  display: flex;
  flex-direction: column;
  width: 30%;
}

a {
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid #448260; /* Color del borde */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #448260; /* Color de fondo */
  color: #fff; /* Color del texto */
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  background-color: #0f243b; /* Color de fondo al pasar el mouse */
  border-color: #0056b3; /* Color del borde al pasar el mouse */
}
