<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="white" />
    <title>Split Expenses</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <link rel="manifest" href="../pwa/manifest.json" />
    <link rel="icon" href="../pwa/icons/icon-96x96.png" type="image/png" />
  </head>
  <body>
    <div class="navbar">
      <div class="ucount-logo">
        <img src="../images/maskable.png" alt="Descripción de la imagen" />
      </div>
      <button class="menu-toggle">&#9776;</button>
      <!-- Botón de menú de hamburguesa -->
      <div class="navbar-links">
        <a href="landingPage.html">Home</a>
        <a href="events.html">Events</a>
        <a href="addEventPage.html">Create Event</a>
      </div>
    </div>
    <div>
      <h2>Event List</h2>
      <div id="eventList"></div>
    </div>

    <script src="../js/addEvent.js" type="module"></script>
    <script type="module">
      import { updateEventList } from "../js/addEvent.js";
      updateEventList();
    </script>
  </body>
</html>
