<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <link rel="manifest" href="../pwa/manifest.json" />
    <link rel="icon" href="../pwa/icons/icon-96x96.png" type="image/png" />
  </head>
  <body>
    <div class="navbar">
      <div class="ucount-logo">
        <img src="../images/maskable.png" alt="Descripción de la imagen" />
      </div>
      <button class="menu-toggle">&#9776;</button>
      <!-- Botón de menú de hamburguesa -->
      <div class="navbar-links">
        <a href="../index.html">Home</a>
        <a href="events.html">Events</a>
        <a href="addEventPage.html">Create Event</a>
      </div>
    </div>

    <button id="balanceBtn" class="button info" href="">Return to balance</button>


    <div id="eventPage" style="text-align: center; justify-content: center">
      <div
        id="eventDetails"
        style="text-align: center; justify-content: center"
      >
        <h1>Event Details</h1>

        <h1>Transactions</h1>

        <div
          style="display: flex; align-items: center; justify-content: center"
        >
          <table
            id="Transactions"
            style="
              border: 1px solid;
              width: auto;
              margin: 0 auto;
              text-align: center;
              padding: 10px;
            "
            ;
          ></table>
        </div>

          <script type="module">
            import { getEvent, startDB } from "../js/IndeedDb.js";
            // Función para obtener parámetro de la URL
            function getParameterByName(name, url) {
              if (!url) url = window.location.href;
              name = name.replace(/[\[\]]/g, "\\$&");
              const regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)");
              const results = regex.exec(url);
              if (!results) return null;
              if (!results[2]) return "";
              return decodeURIComponent(results[2].replace(/\+/g, " "));
            }

            // When the DOM content is loaded
            document.addEventListener("DOMContentLoaded", async function () {
              try {
                // Call startDB to initialize the database

                const url = window.location.href;
                // Wait for the events to be retrieved

                // Get the ID of the event from the URL
                const eventId = getParameterByName("eventId", url);

                // Get the corresponding event
                console.log("Event ID:", eventId);
                const event = await getEvent(eventId);
                const eventCurrency = "USD";

                console.log("Event:", event);

                // Show event details in the HTML
                const transactionTable =
                  document.getElementById("Transactions");


                const transactions = event.expenses;

                console.log(transactions);

                for (let i = 0; i < transactions.length; i++) {
                  const transaction = transactions[i];
                  const payer = transaction.payer;
                  const amount = transaction.amount;
                  const name = transaction.name;

                  const row = document.createElement("tr");
                  const textCell = document.createElement("td");
                  textCell.innerHTML = `<strong>${payer}</strong> paid for <strong>${name}</strong>`;

                  const participantsCell = document.createElement("td");
                  participantsCell.innerHTML = `This wad paid for <strong>${transaction.participants.join(", ")}</strong>`;


                  const amountCell = document.createElement("td");
                  amountCell.innerHTML = `<strong>${amount}</strong> <strong>${eventCurrency}</strong>`;

                  row.appendChild(textCell);
                  row.appendChild(participantsCell);
                  row.appendChild(amountCell); 

                  transactionTable.appendChild(row);
                }


                console.log("cool");

                document.getElementById("balanceBtn").addEventListener("click", function() {
                  console.log("Balance button clicked");
                    const url = window.location.href;

                    const eventId = getParameterByName("eventId", url);
                    window.location.href = "event.html?eventId=" + eventId;
                  });

                // Function to calculate total expense
                function getTotalExpense(expenses) {
                  return expenses.reduce(
                    // Sum the amount of each expense with ints
                    (total, expense) => total + parseInt(expense.amount, 10),
                    0
                  );
                }

                // Function to calculate average expense per person
                function getAverageExpense(expenses) {
                  return getTotalExpense(expenses) / event.people.length;
                }

                // Function to calculate how much each person owes
                function getOwes(expenses) {
                  const totalExpense = getTotalExpense(expenses);
                  const averageExpense = getAverageExpense(expenses);
                  return event.people.map((person) => {
                    const personExpense = expenses.reduce(
                      (total, expense) =>
                        total +
                        (expense.payer === person.name
                          ? parseInt(expense.amount, 10)
                          : 0),
                      0
                    );
                    return {
                      name: person.name,
                      owes: averageExpense - personExpense,
                    };
                  });
                }
              } catch (error) {
                console.error("Error while getting events:", error);
              }
            });
          </script>
        </div>
      </div>
    </div>
  </body>
  <script src="../js/addEvent.js" type="module"></script>
</html>
