<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <link rel="manifest" href="../pwa/manifest.json" />
    <link rel="icon" href="../pwa/icons/icon-96x96.png" type="image/png" />
  </head>
  <body>
    <div class="navbar">
      <div class="ucount-logo">
        <img src="../images/maskable.png" alt="Descripción de la imagen" />
      </div>
      <button class="menu-toggle">&#9776;</button>
      <!-- Botón de menú de hamburguesa -->
      <div class="navbar-links">
        <a href="../index.html">Home</a>
        <a href="events.html">Events</a>
        <a href="addEventPage.html">Create Event</a>
      </div>
    </div>

    <h1>Event Details</h1>
    <div id="eventDetails"></div>

    <script type="module">
      import { getEvent, startDB } from "../js/IndeedDb.js";
      // Función para obtener parámetro de la URL
      function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        const regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)");
        const results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return "";
        return decodeURIComponent(results[2].replace(/\+/g, " "));
      }

      // When the DOM content is loaded
      document.addEventListener("DOMContentLoaded", async function () {
        try {
          // Call startDB to initialize the database

          const url = window.location.href;
          // Wait for the events to be retrieved

          // Get the ID of the event from the URL
          const eventId = getParameterByName("eventId", url);

          // Get the corresponding event
          console.log("Event ID:", eventId);
          const event = await getEvent(eventId);

          console.log("Event:", event);

          // Show event details in the HTML
          const eventDetailsDiv = document.getElementById("eventDetails");
          const eventDetailsHTML = `
          <h2>${event.name}</h2>
          <h3>People (${event.people.length}):</h3>
          <ul>
            ${event.people.map((person) => `<li>${person.name}</li>`).join("")}
          </ul>
          <h3>Total Expenses:</h3>
          <p>${getTotalExpense(event.expenses)}</p>
          <h3>Average Expense per Person:</h3>
          <p>${getAverageExpense(event.expenses)}</p>
        `;
          eventDetailsDiv.innerHTML = eventDetailsHTML;

          // Function to calculate total expense
          function getTotalExpense(expenses) {
            return expenses.reduce(
              (total, expense) => total + expense.amount,
              0
            );
          }

          // Function to calculate average expense per person
          function getAverageExpense(expenses) {
            return getTotalExpense(expenses) / event.people.length;
          }
        } catch (error) {
          console.error("Error while getting events:", error);
        }
      });
    </script>
  </body>
</html>
