<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="white" />
    <title>Split Expenses</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <link rel="manifest" href="pwa/manifest.json" />
    <link rel="icon" href="pwa/icons/icon-96x96.png" type="image/png" />
  </head>
  <body>
    <div class="navbar">
      <div class="ucount-logo">
        <img src="../images/maskable.png" alt="Descripción de la imagen" />
      </div>
      <div class="navbar-links">
        <a href="landingPage.html">Home</a>
        <a href="events.html">Events</a>
        <a href="addEventPage.html">Create Event</a>
      </div>
    </div>
    <div class="column">
      <div class="row">
        <div class="row-item">
          <div class="column">
            <h1>Easy expense splitting</h1>
            <p>
              Create event, add users and their expenses. Splittypie will
              calculate who owes who and how much exactly. It's
              <strong>Free</strong> and with <strong> No Sign Up.</strong>
            </p>
            <button class="button" id="addEventBtn">Add Event</button>
          </div>
        </div>
        <div class="row-item">
          <img
            src="../pwa/icons/icon-96x96.png"
            alt="Split Expenses"
            style="width: 80%"
          />
        </div>
      </div>
    </div>
    <button id="notification-btn">Enviar notificación de prueba</button>
    <script type="module">
      document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("addEventBtn").addEventListener("click", () => {
          window.location.href = "addEventPage.html";
        });
      });
    </script>
    <script>
        const button = document.getElementById('notification-btn');

        button.addEventListener('click', () => {
            Notification.requestPermission().then((result) => {
                if (result === 'granted') {
                    new Notification('Podemos recibir notificaciones!');
                }
            });
        });
    </script>
  </body>
</html>
